*{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

/*-- Header--*/

.menu-btn{
    color: #424144;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 999;
    background-color: #f3f4f6;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
}

.navbar .logo h1{
    margin-left: 15px;
color: #424144;
border-bottom: 4px solid #fd6561;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: #424144;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e;
}

.navbar .menu li a i{
    color: #f63e4e;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #f63e4e;
}

/*Content*/

.content{
    background-image: url(IMAGES/IMG_2673.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 100vh;
}

.content h1{
    font-size: 40px;
}

.content p{
    font-size: 20px;
    margin-top: 20px;
}

.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f63e4e;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor:pointer;
}

.pheading{
    text-align: center;
    margin: 50px 0;
    color:#424144;
}

/* carousel */

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators button, .carousel-indicators button.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators button {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators button.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/*products*/

.sec{
    padding: 10px 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.products .card{
    width: 265px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}
.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color:white;
}


/* footer*/

footer{
    background-color: white;
    height: 10vh;
}

footer p{
    text-align: center;
    line-height: 10vh;
}

footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
}



@media(max-width:820px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu .active{
        left: 0%;
    }

    .navbar .menu li{
        display: flex;
        justify-content: center;
    }

    .navbar .menu li a{
        margin: 10px;
        font-size: 25px;
    }

/*department menu*/

.dpt-menu{
    position: absolute;
    top: 100%;
}






}














